<h2>Idea Box</h2>

<form>
  <input type="text" name="title" placeholder="Title"><br>
  <input type="text" name="body" placeholder="body"><br>
  <input type="submit" value="save">
</form>

<ul>
  <% @ideas.each do |idea| %>
    <h4><%= idea.title %></h4>
    <li class="truncate"><%= idea.body %></li>
    <li><%= idea.quality %></li>
  <% end %>
</ul>
