.add-idea-form {
    position: relative;
    width: 80%;
    left: 10vw;
}

.ideas {
    position: relative;
    left: 5vw;
    width: 85vw;
}

.filter {
    position: fixed;
    left: 75vw;
    top: 35vh;
    z-index: 10000;
}
